.log-in-form {
  border: 2px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; 

}

.hero {

	background-image: url("BG3.jpg");
	padding: 80px 80px;

}


foundation.css

app.css
