body {
background-image: url("diagmonds-light.png");
}

table {
	
	width: 80%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	height: 20px;
}

th{

  padding: 20px 15px;
  height 50px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  background-color: #3399ff;
  text-transform: uppercase;
}

td{

  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  border-bottom: 1px solid #ddd; 
  
}

h1{

  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;

}
